
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <!-- form handling -->
        <form action="/star" method="POST">
            <table class="table table-dark">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Radius</th>
                    <th>Price</th>
                    <!--<th>sorting</th>-->
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <%- include('include/_showstars') %>
                </tbody>
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <!--<th>sorting</th>-->
                    <th></th>
                </tr>
                </thead>
            </table>
        </form>
    </div>
    <div class="container">
        <a href="/star/add-star" class="btn border-shadow update blue-white-icon">
            <span class="text-gradient">Add new star </span>
        </a>
    </div>
</main>

<%- include('include/_footer') %>