body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}


.container {
    padding: 25px;
    background-color: white;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 17px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #dddddd;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: solid green ;

}

input[type=text], input[type=login] {
    width: 100%;
    padding: 17px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #dddddd;
}

input[type=text]:focus, input[type=login]:focus {
    background-color: white;
    outline: solid green ;

}


hr {

    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: green;
    color: #dddddd;
    padding: 16px ;
    margin: 8px ;
    border: none;
    cursor: pointer;
    width: 100%;
}
a{
    color: darkblue;
}

.signin {
    background-color: #dddddd;
    text-align: center;
}